footer {
    height: 20vh;
    padding: 0 1vw;
    margin-bottom: 1vh;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
    position: relative;

    a {
        color: inherit;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    img {
        width: 50px;
    }

    .left-footer {
        display: inline-block;
        vertical-align: bottom;
        line-height: 1.5;
        position: absolute;
        bottom: 1vh;
    }

    .right-footer {
        display: block;
        bottom: 0px;
        right: 1vw;
        position: absolute;
        height: 50px;
    }
}

@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 600px) {
    footer {
        height: auto;
        margin-top: 10vh;

        .left-footer, .right-footer {
            position: relative;
            text-align: center;
            width: 100%;
            right: auto;
        }

        .left-footer {
            margin-bottom: 1vh;
        }
    }
}