
//Colors
$background-color: #17233B;
$white-text-color: #EEEEEE;
$line-color: #A0A0A0;

//Group colors
$group-colors: #A5D6C0, #BFBAD6, #90D6B6,#BCD67A, #D69990, #D6CF9A, #9385D6, #778A48, #8A806A;
$first-dose-color: #A193CF;
$second-dose-color: #A5D8C3;

//Fonts
$main-font: 'Roboto', sans-serif;

//Portrait view
$portrait-max-width: 700px;