@import "reset";
@import "variables";

body {
    background-color: $background-color;
    color: $white-text-color;
    font-family: $main-font;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@import "header";
@import "main";
@import "footer";